* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  width: 100%;
  height: 100%;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 66px;
  display: inline-flex;
}

.logo img {
  width: 78px; /* Adjust size as needed */
  height: 78px;
}

.nav {
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  display: flex;
}

.nav a {
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  transition: color 0.3s;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: Cascadia Code;
  font-weight: 700;
  line-height: 27.2px;
  letter-spacing: 0.9px;
  word-wrap: break-word;
}

.nav a:hover {
  color: #007bff;
}

.donate-button {
  margin-right: 180px; /* Adds space to the right of the button */
}

.donate-button button {
  padding: 10px 20px;
  background-color: #3d4f60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.donate-button button:hover {
  background-color: #007bff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo,
  .donate-button {
    margin: 0; /* Remove margins for smaller screens */
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }
}

/* section one */
.hero-section {
  display: flex;
  align-items: center;
  /* padding: 50px; */
  background-color: #fff;
  border: 1px solid #ddd;
  height: 560.85px;
  justify-content: center;
  align-items: center;
}

.text-container {
  max-width: 50%;
}

.text-container h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.text-container button {
  padding: 10px 20px;
  background-color: #3b3b3b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.image-container {
  position: relative;
  max-width: 560.85px;
}

.image-container img {
  width: 100%;
  height: 423.01px;
  border-radius: 283.9px;
}

.tag {
  /* position: absolute;
  padding: 5px 10px;
  font-size: 18.26px;
  background-color: #f0f0f0;
  border-radius: 10.95px;
  font-weight: 300;
  width: 168.26px;
  text-align: center;
  height: 48.73px;
  justify-content: center;
  align-items: center;
  align-self: center; */
}

.tag-collaborations {
  width: 168.26px;
  height: 48.73px;
  padding: 9.13px;
  left: 80.33px;
  top: 15.28px;
  color: #8f6e23;
  position: absolute;
  transform: rotate(-5.21deg);
  transform-origin: 0 0;
  background: #eae6dd;
  border-radius: 10.95px;
  border: 0.5px #c6af7b solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

.tag-volunteerism {
  width: 147.26px;
  height: 48.73px;
  padding: 9.13px;
  left: 6.39px;
  top: 114.11px;
  position: absolute;
  background: #add1fb;
  border-radius: 10.95px;
  border: 0.5px #1d71d5 solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

.tag-mentorship {
  width: 125.26px;
  height: 44.26px;
  padding: 9.13px;
  left: 383.42px;
  top: 78.51px;
  position: absolute;
  background: #d1c4df;
  border-radius: 10.95px;
  border: 0.5px #5b4377 solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

.tag-empowerment {
  width: 136.26px;
  height: 44.26px;
  padding: 9.13px;
  left: 374.29px;
  top: 255.61px;
  position: absolute;
  background: #add1fb;
  border-radius: 10.95px;
  border: 0.5px #1967c3 solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

.tag-free-resources {
  width: 168.26px;
  height: 44.26px;
  padding: 9.13px;
  left: 0px;
  top: 323.17px;
  position: absolute;
  background: #d1c4df;
  border-radius: 10.95px;
  border: 0.5px #5b4377 solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

.tag-partnership {
  width: 136.26px;
  height: 44.26px;
  padding: 9.13px;
  left: 259.61px;
  top: 405.33px;
  position: absolute;
  transform: rotate(4deg);
  transform-origin: 0 0;
  background: #c5e0d2;
  border-radius: 10.95px;
  border: 0.5px #0c6a38 solid;
  justify-content: center;
  align-items: center;
  gap: 9.13px;
  display: inline-flex;
}

/* wor */
