* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 180px;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 110px;
  width: 100%;
}

.logo img {
  width: 78px; /* Adjust size as needed */
  height: 78px;
}

.nav {
  gap: 40px;
  display: flex;
}

.nav a {
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  transition: color 0.3s;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: Cascadia Code;
  font-weight: 700;
  line-height: 27.2px;
  letter-spacing: 0.9px;
  word-wrap: break-word;
}

.nav a:hover {
  color: #007bff;
}

.donate-button {
  /* Adds space to the right of the button */
}

.donate-button button {
  padding: 10px 20px;
  background-color: #3d4f60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.donate-button button:hover {
  background-color: #007bff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  /* .header {
      flex-direction: column;
      align-items: center;
    } */

  .logo,
  .donate-button {
    margin: 0; /* Remove margins for smaller screens */
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }
}
.padding {
  padding-left: 180px;
  padding-right: 180px;
}

/* Free Tech Resources Section */
.freeTechSection {
  margin-top: 120px; /* Negative margin to overlap with the header */
  padding-bottom: 50px;
  display: flex;
  gap: 40px;
  padding: 0 180px;
  height: 636px;
  justify-content: center;
  align-items: center;
}
.freeTechLearning {
  flex: 1;
  background: #fff;
  border-radius: 24px;
  width: 545px;
  height: 546px;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 1px solid red;
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Arrange children vertically */
  justify-content: space-between; /* Push elements to top and bottom */
}

.techTools {
  font-family: Cascadia Code;
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
  text-align: left;
  color: #2e2e2e;
}
.techToolsParagraph {
  color: #3d4f60;
  font-family: Cascadia Code;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
.seeUpcoming {
  background-color: #3d4f60;
  border-radius: 12px;
  font-size: 18px;
  font-family: Cascadia Code;
  font-weight: 700;
  text-decoration: none;
  color: white; /* Ensure text is visible */
  border: none;
  cursor: pointer;
  width: 261px;
  height: 60px;
}
/* workshop section */
.workshops-section {
  display: flex;
  flex-direction: column;
  background-color: #1e2a38;
  color: #fff;
  width: 100%;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

.workshops-section h2 {
  text-align: left;
  font-size: 2rem;
  margin-left: -180px;
  margin-top: 80px;
}

.workshops-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin: 0 180px;
  padding: 45px;
  margin-bottom: 80px;
}

.workshop-card {
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  gap: 23px; /* Space between all elements inside */
  padding: 24px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  height: 544px;
  transition: transform 0.3s;
}

.workshop-card:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 23px;
  height: 63px;
  width: 63px;
}

.workshop-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;

  font-family: Cascadia Code;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}

.workshop-card p {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;

  font-family: Cascadia Code;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
.custom-button {
  text-align: center;
  font-weight: 700;
  font-family: "Cascadia Code", monospace;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  margin-bottom: 24px;
}
button {
  background-color: #ffffff;
  border: 2px solid #3d4f60;
  color: #eae6dd;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .workshops-container {
    flex-direction: column;
    align-items: center;
  }
}

/* event section*/
.events-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.events-section h2 {
  color: #3d4f60;
  margin-top: 80px;
  margin-bottom: 24px;
  font-family: Cascadia Code;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.event-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: auto;
  /* border-bottom: 2px solid #ddd; */
}

.event-card h3 {
  font-family: Cascadia Code;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: left;
  color: #3d4f60;
  padding-left: 24px;
}

.event-card p {
  font-family: Cascadia Code;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #3d4f60;
  padding-left: 24px;
  margin-top: 12px;
}

.event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Cascadia Code;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #3d4f60;
  padding-left: 24px;
}

.event-date,
.event-time {
  padding-top: 12px;
  font-family: Cascadia Code;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}

.event-info .icon {
  width: 24px; /* Set the icon width */
  height: 24px; /* Set the icon height */
  margin-right: 5px; /* Space between icon and text */
  vertical-align: middle; /* Aligns icon with text */
}
/* Responsive Design */
@media (max-width: 768px) {
  .events-container {
    flex-direction: column;
    align-items: center;
  }
}

/* partner section */
.partners-section {
  height: 429px;
  padding: 2rem 0;
  font-family: "Cascadia Code", monospace;
}

.partners-section h2 {
  margin-top: 100px;
  font-size: 1.8rem;
  color: #333;
  margin-left: 180px;
  margin-bottom: 1.5rem;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 0 180px;
}

.partner-card {
  background-color: #f5f5f5;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 132px;
  border-radius: 24.17px;
  transition: transform 0.3s ease;
}

.partner-card img {
  max-width: 100%;
  height: auto;
}

.partner-card:hover {
  transform: scale(1.05);
}

/* footer section */
footer {
  background-color: #2d3d4f; /* Dark blue-gray color */
  color: #d8d5c3; /* Light beige color */
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.logo-section {
  flex: 1;
  margin-left: 180px;
  margin-top: 64px;
  width: 311px;
  height: 214px;
  margin-right: 179px;
}

.logo {
  max-width: 50px; /* Adjust size as needed */
  display: block;
  margin-bottom: 12px;
}
.footerLogo {
  font-family: Cascadia Code;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.links-section {
  flex: 1;
  margin-top: 64px;
  margin-right: 179px;
}

.links-section h3,
.donate-section h3 {
  height: 62px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  color: #ffffff;

  font-family: Cascadia Code;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  margin-bottom: 5px;
}

.links-section a {
  font-family: Cascadia Code;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.donate-section {
  flex: 1;
  margin-top: 64px;
  margin-right: 180px;
}

.donate-section button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.donate-section h3 {
  font-family: Cascadia Code;
  font-size: 18px;
  font-weight: 700;
  line-height: 27.2px;
  letter-spacing: 0.05em;
  text-align: left;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  display: inline-block;
}

.social-icons .icon {
  width: 24px;
  height: auto;
  transition: transform 0.3s;
}

.social-icons a:hover .icon {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  width: 100%;
  height: 2;
  top: 5658px;
  padding: 10px 180px 10px 180px;
  gap: 10px;
  background-color: #eae6dd;
}
.footer-bottom p {
  color: #000000;
  font-family: Cascadia Code;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2em;
}
